.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}
.logo{
    line-height: 100px;
    float: left;

}
.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color:#fff;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
    font-size: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;

}
.show-menu-btn i{
    line-height: 100px;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
    color: #badcf3;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        left: 0;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
}
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
    
}
.search{
    border: 1px white solid;
   margin-left: 20%;
   margin-right: 10%;
   margin-bottom: 7%;
   margin-top: 7%;
    width: 70%;
    height: 100px;
    box-sizing: border-box;
    object-position: center;
}

.search input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #d4d4d4;
    margin: 1%;

  }
  .search button {
    float: left;
    width: 20%;
    height: 30%;
    padding: 10px;
    background: #63b9ff;
    color: white;
    font-size: 90%;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 1%;
    margin-top: 1%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  
 .search button:hover {
    background: #0b7dda;
  }
  
 .search::after {
    content: "";
    clear: both;
    display: table;
 }
 .categories{
    border: 1px black solid;
    margin-left: 10%;
    margin-right: 0%;
    width: 90%;
    height: 1170px;
    box-sizing: border-box;
}
.categoriestxt{
    text-align: center;
    color: rgb(206, 204, 204);

}
.cart{
    float: left;
    width: 31.2%;
    height: 30%;
    border: 1px rgb(172, 171, 171) solid;
    position: relative;
    box-sizing: border-box;
    margin: 1%;
    
}
.cart:hover{
    zoom:140%;
    border: 1px rgb(128, 117, 117) solid;
    color: rgb(20, 13, 13);
    
}
.cart_txt{
    position: absolute;
  top: 61%;
  text-align: left;
  background: none;
}

.cart_images{
    width: 100%;
    height: 60%;
    position: relative;

    padding: 5px;
    box-sizing: border-box;
}
.footer {
    
    left: 0; 
    bottom: 0 15px;
    width: 100%;
    background-color: #2c2958da;
    color: white;
    text-align: center;
}
.selection{
   margin-top: 7%;
    margin-left: 10%;
    margin-right: 0%;
    width: 100px;
    height: 20px;
    box-sizing: border-box;
   

}
.items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #2c2958da;
    display: flex;
    flex-direction: column-reverse;
}
.items li{
   
    margin: 5px;
    padding: 2px;
}
/* .box{
    border: 1px solid black;
    background-color: black;
    height: 30px;
}
.box1{
    float: left;
    color:white;
}
.box1 li{
    margin-top: 10px;
    float: left;
    position: relative;
    left: 300%;
    width: 100px;
    font-size: 14px;
    list-style-type: none;

}
.box1 li a{
    text-decoration: none;
    color: white;
}
h5{
    margin-top: 1px;
    color: white;
    margin: 7px 12px;
    position: relative;
    left: -18%;
} */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container2{
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "cover content";
    box-shadow: 2px 0px 33px 0px;
}

.cover2{
    grid-area: cover;
    background: #fefefe;
    background-image: url(coffee.jpg);
    background-size: cover;
    background-position: center center;
}
.content2{
    grid-area: content;
    background: #efefef;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.nav2{
    margin: 10px 20px;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.content-body2{
    display: flex;
    flex-direction: row;
}
.pages2{
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: gray;
    position: relative;
    transform: translateY(38px);
    -webkit-transform: translateY(38px);
    -moz-transform: translateY(38px);
    -ms-transform: translateY(38px);
    -o-transform: translateY(38px);
}
.pages2 span{
    margin-top: 15px;
}
.black-coffee{
    width: 80%;
}
.black-coffee p{
    color: gray;
    width: 70%;
    font-size: 13px;
}
.title2{
    font-size: 54px;
}
.price2{
    margin: 50px 0px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid gold;

}
.price2 span{
    padding-left: 10px;
}
.crt2{
    color: gray;
    left: 2px;
    border-bottom: 1px solid gray;
}
.active2{
    color: black;
    position: relative;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
}
.active2::before{
    position: absolute;
    content: "";
    display: block;
    width: 67px;
    right:117%;
    top: 45%;
    background-color: #555;
    height: .2em;
    min-height: 1px;
    z-index: 1;
}
.footer2{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 4px;
            background-color: #34495e;
            color: white;
            text-align: center;
        }